[Unit]
Description=Skyroulette
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/skyroulette/backend
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/root/skyroulette/backend/.env
ExecStart=/root/skyroulette/backend/run.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
